{% extends 'mystore/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
            <div class = 'card'>
                <img class="card-img-top" src = '{{product.image.url}}' height = '250px'>
                <div class = "card-body">
                    <h6 class = 'card-title'>{{product.name}}</h6>
                    <button data-product="{{product.id}}" data-action="add" class="btn btn-warning update-cart">Add to Cart</button>
				<a class="btn btn-success" href="{% url 'product_detail' product.id %}">Details</a>
				<h4 class = 'float-end' style="display: inline-block">${{product.price}}</h4>
                </div>
            </div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}